<!DOCTYPE html>
<html>
<head>
  <title>Streamworker</title>
  <%= stylesheet_link_tag    "streamworker/application", media: "all" %>
  <%= javascript_include_tag "streamworker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
